<div class="jumbotron">
  <h3>About me</h3>

  <p class="text-justify">
    <img src="images/avatar.jpg" class="thumbnail avatar"/>
    Hi everyone! I'm software developer from Russia with 7+ years of experience in total.
  </p>
  <p class="text-justify">
    Love both: complicated back-end tasks, as well as exciting front-end challenges!
  </p>
  <p class="text-justify">
    I designed and developed lots of web applications from small to huge, from back-end to front-end.
    Have exciting experience of work in several distributed international teams of real professional.
    At the same time being able to organise work, solve difficult and big problems myself working as independent
    contractor.
  </p>

  <h3>Advantages of working with me</h3>

  <p class="text-justify">
    I can work both: as independent contractor by myself, or help to build a team of talented and experienced developers and work as team leader or project manager.
    In any case you have benefits:
  </p>
  <ul class="list-unstyled text-left">
    <li>&mdash; Full cycle of development on my side - from specs to production.</li>
    <li>&mdash; High-quality well maintainable code.</li>
    <li>&mdash; Optimized robust applications.</li>
    <li>&mdash; In case of involiving other developers to the team,I can guarantee effective team management and transparency - you can contact directly with our team.</li>
  </ul>
  <h4>Interested in working with me? Please, <a ng-href="#/contact">find my contacts here</a>.</h4>
</div>
