<div class="jumbotron">
  <div class="row contact-links">

    <div class="col-md-12">
      Connect with me:
      <a href="https://angel.co/maxim-baev" target="_blank" title="AngelList"><i class="fa fa-angellist"></i></a>
      <a href="https://github.com/maxaus" target="_blank" title="GitHub"><i class="fa fa-github-square"></i></a>
      <a href="https://www.linkedin.com/in/maxbaev" target="_blank" title="LinkedIn"><i class="fa fa-linkedin-square"></i></a>
      &nbsp;|&nbsp;
      <a href="mailto:m.k.baev@gmail.com"><i class="fa fa-at"></i> Email Me</a>
      &nbsp;|&nbsp;
      <i class="fa fa-skype"></i>baev.maxim
      &nbsp;|&nbsp;
      <a href="https://www.toptal.com/#select-only-guaranteed-devs" target="_blank">Hire Me via Toptal</a>
    </div>
  </div>

  <iframe src="https://docs.google.com/forms/d/1GLEFdwaPitQzOBdixkICZFoeKXFiTWYhxay51zG2pB4/viewform" width="100%" height="920px"></iframe>
</div>
