<div class="jumbotron">
  <form name="contactForm" ng-submit="submitContactForm()" novalidate class="form-inline">
    <div class="row">
      <input type="radio" ng-model="contactForm.type" value="service"> Service Inquiry
      <input type="radio" ng-model="contactForm.type" value="hello"> Say hello
    </div>
    <div class="row">
    <input type="text" placeholder="Full name" ng-model="contactForm.fullName" ng-required class="form-control">
  </div>
    <div class="row">
      <input type="text" placeholder="Company name" ng-model="contactForm.companyName" ng-required class="form-control">
    </div>
    <div class="row">
      <input type="text" placeholder="Email" ng-model="contactForm.email" ng-required class="form-control">
    </div>
    <div class="row">
      <input type="text" placeholder="Range" ng-model="contactForm.range" ng-required class="form-control">
    </div>
    <div class="row">
      <textarea type="text" placeholder="Project description" ng-model="contactForm.description" ng-required class="form-control"></textarea>
    </div>
    <div class="row">
      <button type="submit" class="btn btn-success">Send</button>
    </div>
  </form>
</div>
