<div class="jumbotron">
  <img src="../images/conversations-icon.png" class="conversation"/>
  <h1 class="question">- Ok, Max</h1>
  <h2 class="question">How can you help me?</h2>
  <p class="answer">
    - I’m professional in:
  </p>
  <div class="answer">
    <ul class="list-inline">
      <li>
        <h4>Web</h4>
        <div class="description">
          Full-cycle development of web applications.
          <br/>
          <a ng-href="#/services"><span class="glyphicon glyphicon-expand"></span>Read more</a>
        </div>
      </li>
      <li>
        <h4>Mobile</h4>
        <div class="description">
          High-quality mobile applications. <br/>
          <a ng-href="#/services"><span class="glyphicon glyphicon-expand"></span>Read more</a>
        </div>
      </li>
      <li>
        <h4>Consulting</h4>
        <div class="description">
          Software development consulting. <br/>
          <a ng-href="#/services"><span class="glyphicon glyphicon-expand"></span>Read more</a>
        </div></li>
    </ul>
  </div>
  <p class="question"> - What are main advantages in working with you?</p>
  <p class="answer"> - Here they are: <a ng-href="#/about"><span class="glyphicon glyphicon-expand"></span>read</a></p>
</div>
