<div class="jumbotron">
  <img src="../images/conversations-icon.png" class="conversation"/>
  <div class="chat">
    <div class="bubble left">
      <span class='tail'>&nbsp;</span>

      <h2 class="question">- Ok, Max</h2>

      <h3 class="question">How can you help me?</h3>
    </div>
    <div class="bubble right">
      <span class='tail'>&nbsp;</span>

      <h3 class="answer">
        - I’m professional in:
      </h3>
    </div>
    <div class="answer features">
      <ul class="list-inline">
        <li>
          <h4><i class="fa fa-laptop"></i> Web</h4>

          <div class="description">
            Full-cycle development of web applications.
            <br/>
            <a ng-href="#/services"><i class="fa fa-arrow-circle-right"></i> Read more</a>
          </div>
        </li>
        <li>
          <h4><i class="fa fa-mobile"></i> Mobile</h4>

          <div class="description">
            High-quality mobile applications. <br/>
            <a ng-href="#/services"><i class="fa fa-arrow-circle-right"></i> Read more</a>
          </div>
        </li>
        <li>
          <h4><i class="fa fa-line-chart"></i> Consulting</h4>

          <div class="description">
            Software development consulting. <br/>
            <a ng-href="#/services"><i class="fa fa-arrow-circle-right"></i> Read more</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="bubble left">
      <span class='tail'>&nbsp;</span>
      <h3 class="question"> - What are main advantages in working with you?</h3>
    </div>
    <div class="bubble right">
      <span class='tail'>&nbsp;</span>
      <h3 class="answer"> - Here they are: <a ng-href="#/about"><i class="fa fa-arrow-circle-right"></i> read</a></h3>
    </div>
    <div class="bubble left">
      <span class='tail'>&nbsp;</span>
      <i class="fa fa-thumbs-o-up fa-3x"></i>
    </div>
  </div>
</div>
