<div class="jumbotron">
  <p class="text-justify">
    Despite of having ability to have a team, let me enumerate what qualifications I personally have:
  </p>
  <h2 id="web-services"><i class="fa fa-laptop"></i> Web</h2>
  <p class="text-justify">
    Full-cycle development of web applications, from specification to ready and tested product. Based on following technologies:
  </p>
  <ul class="list-unstyled text-left">
    <li>&mdash; JVM based languages (Java, Groovy, Scala)</li>
    <li>&mdash; JavaScript (jQuery, AngularJS, Backbone, ExtJS, NodeJS)</li>
    <li>&mdash; PHP</li>
    <li>&mdash; HTML5/CSS3/XML</li>
    <li>&mdash; WebServices/SOAP/REST</li>
    <li>&mdash; SQL (MySQL, PostgreSQL, Oracle)</li>
    <li>&mdash; NoSQL (MongoDB, Redis, Firebase)</li>
  </ul>
  <h2 id="mobile-services"><i class="fa fa-mobile"></i> Mobile</h2>
  <p class="text-justify">
    High-quality mobile applications for most popular platforms:
  </p>
  <ul class="list-unstyled text-left">
    <li>&mdash; Android</li>
    <li>&mdash; iOS</li>
    <li>&mdash; Phonegap framework for all platforms</li>
    <li>&mdash; Integration with BaaS like Parse.com</li>
  </ul>
  <h2 id="consulting-services"><i class="fa fa-line-chart"></i> Consulting</h2>
  <p class="text-justify">
    As I have extensive experience in software  development, I find myself able to help you and your business in terms of consultation on following topics:
  </p>
  <ul class="list-unstyled text-left">
    <li>&mdash; Advise on technologies stack to be used in application</li>
    <li>&mdash; Figure out scope of the application based on specifications</li>
  </ul>
</div>
